@page "/Info"

<div class="table-container">
    <img src="BlazorGenericTable.MA.jpg" alt="BlazorGenericTable.MA" class="normal-image" />
    <br />
    <p class="description">
        BlazorGenericTable.MA is a dynamic, feature-rich generic table component designed for C# and Blazor applications.
        Built on .NET and enhanced by modern C# features like nullable enablement and implicit using, it delivers a seamless
        and performant experience, empowering developers to present and interact with data effortlessly.
    </p>

    <div class="features">
        <h3>Key Features:</h3>
        <ul>
            <li>Supports selection, deletion, and pagination functionalities.</li>
            <li>Allows custom CSS classes for styling.</li>
            <li>Adapts effortlessly to various data models and user interactions.</li>
            <li>Optimized for performance and flexibility.</li>
        </ul>
    </div>

    <div class="author">
        <h3>Author:</h3>
        <p><strong>Mohammad AghaMohammadi</strong></p>
        <p>Committed to quality and technical excellence.</p>
    </div>

    <div class="links">
        <h3>Learn More:</h3>
        <p>
            <a href="https://github.com/Mohammad-A-m2/BlazorGenericTable.MA" target="_blank">GitHub Repository</a>
        </p>
        <p>
            <a href="https://m-a-mohammadi.ir/Blogs/Showblog/27/BlazorGenericTable.MA#blog" target="_blank">Official Blog</a>
        </p>
    </div>
</div>

 

